<!-- Navigation -->
<header class="navbar navbar-inverse navbar-static-top" role="navigation">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    	<span class="sr-only">Toggle navigation</span>
    	<span class="icon-bar"></span>
    	<span class="icon-bar"></span>
    	<span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">CS3283/4</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
    	<li><a href="faq.html">FAQ</a></li>
    	<li><a href="projects.html">Projects</a></li>
    	<li><a href="teams.html">Teams</a></li>
    	<li><a href="registration.html">Register</a></li>
    	<li><a href="schedule.html">Schedule</a></li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</div>
</header>
