h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #cc0000;
}

.content p, .content li  {
  font-size: 12pt;
  font-family: 'Merriweather', serif;
  line-height: 1.6em;
  margin-right: 70px;
}

body {
  background-color: #fff4f4;
}

table {
  padding: .75rem;
  vertical-align: top;
}

td, th {
  padding: .5rem;
  border-top: 1px solid #eceeef
}

.well {
  background-image: none;
  background-color: #fdd;
}

